<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Paraná-(PR)" data-toc-modified-id="Paraná-(PR)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Paraná (PR)</a></span></li><li><span><a href="#Santa-Catarina-(SC)" data-toc-modified-id="Santa-Catarina-(SC)-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Santa Catarina (SC)</a></span></li><li><span><a href="#Rio-Grande-do-Sul-(RS)" data-toc-modified-id="Rio-Grande-do-Sul-(RS)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Rio Grande do Sul (RS)</a></span></li><li><span><a href="#Resposta" data-toc-modified-id="Resposta-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Resposta</a></span></li></ul></div>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('desafio1.csv')

In [3]:
df

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,3e607c788c09d6e1f99cc50575e471fee41a322a,ef547badb8b0801d06a93155cc052341c749d1c0,633,SC,F,32,1,104001.38,1,0,1
6996,6997,2afdb40334e1bef3451f3db02b12c255c7a9ff57,e3eb2eea41a60b08392da20a49543d05ac484255,623,RS,F,50,2,87116.71,1,1,1
6997,6998,6a0589e36c12f95a8d3678b460519ed654fe0a3e,e65e12a7eb4e0b15e6d3afb127ce38c0a5303188,611,SC,M,68,5,82547.11,2,1,1
6998,6999,c042de909a1fb157765c84c3278d8e6500807367,a52bbf77611eab47a6eff8641a1a9bd01006acbe,666,RS,F,47,5,0.00,1,0,0
6999,7000,cdce83890ea1d7b64b2caaaea76f499cb5dfe684,2265b3657cc5e97382dc46819e3937c363fe165e,521,SC,M,27,4,121325.84,1,1,1

In [73]:
df['estado_residencia'].value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

# Paraná (PR)

In [74]:
pr = df.query('estado_residencia=="PR"')
pr.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
7,8,6704b822c203e2dda9f225dfc4f1bed2ae9044e6,336b42483e6a17f48eb040a251b5d6e64d1351a9,376,PR,F,29,4,115046.74,4,1,0
15,16,04a488f5afe23bc8e0bc2dab36b7ef31a2175465,ae50d67a10a428f042478724f8696faad69c16e7,616,PR,M,45,3,143129.41,2,0,1
16,17,5970b1f277e0c09c2fbdf5c0b2961e286d1eee8a,b7e8d8eaaffa2e0990b222ca486b9c2426c2cd7e,653,PR,M,58,1,132602.88,1,1,0
26,27,93f9d14870d4e1f4b406e822aeda2522034e36a7,190ad954707e053c18af1de13a140cb70a6ff58c,756,PR,M,36,2,136815.64,1,1,1
28,29,29696d097f5af397971553e03af3d72544a2de43,bb0562f482fc937e49bca1fbce8619797d02a123,574,PR,F,43,3,141349.43,1,1,1

In [75]:
pr_media = pr.pontuacao_credito.mean()
pr_media

648.9612940496822

In [76]:
pr_mediana = pr.pontuacao_credito.median()
pr_mediana

650.0

In [77]:
pr_moda = pr.pontuacao_credito.mode()
pr_moda[0]

850

In [78]:
pr_std = pr.pontuacao_credito.std()
pr_std

98.60718591309758

# Santa Catarina (SC)

In [79]:
sc = df.query('estado_residencia=="SC"')
sc.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
6,7,8f3cc64a0a84bab38fefb030f09757d0cbf03bb2,abec3e525ab40e45975c91d4fa2bc7b318d93de4,822,SC,M,50,7,0.00,2,1,1
8,9,35f41954a87f722a3960e5fa8ce898a09398a564,53a417796c777851003b3f2431e8eef5625ec15b,501,SC,M,44,4,142051.07,2,0,1

In [80]:
sc.pontuacao_credito.describe()

count    3519.000000
mean      649.537653
std        97.233493
min       359.000000
25%       581.000000
50%       653.000000
75%       717.000000
max       850.000000
Name: pontuacao_credito, dtype: float64

In [81]:
sc_media = sc.pontuacao_credito.describe()[1]
sc_media

649.5376527422563

In [82]:
sc_mediana = sc.pontuacao_credito.describe()[5]
sc_mediana

653.0

In [83]:
sc_moda = sc.pontuacao_credito.mode()
sc_moda

0    850
dtype: int64

In [84]:
sc_std = sc.pontuacao_credito.describe()[2]
sc_std

97.233492793433

# Rio Grande do Sul (RS)

In [85]:
rs = df.query('estado_residencia=="RS"')
rs.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
5,6,db5cf32c3fbc7c5d8f8313afca1d099de6dc055f,a596384ca70664af4c5fac9f935cff186b8e8bc0,645,RS,M,44,8,113755.78,2,1,0
11,12,727d2911ca645148ecb222005c5f4f8ccf72b4d6,a1009913e51c3c11ef2e88eda344ec5befa13fd4,497,RS,M,24,3,0.00,2,1,0
14,15,4f883154a84d3fda402e17686bfe212558f7f15e,2ad0c93dcf651c0afe5e5aa7a8778f7c3ec5769e,635,RS,F,35,7,0.00,2,1,1

In [86]:
rs.pontuacao_credito.describe()

count    1750.000000
mean      651.105143
std        95.136598
min       350.000000
25%       585.000000
50%       650.000000
75%       717.000000
max       850.000000
Name: pontuacao_credito, dtype: float64

In [88]:
rs_media = rs.pontuacao_credito.describe()[1]
rs_media

651.1051428571428

In [89]:
rs_mediana = rs.pontuacao_credito.describe()[5]
rs_mediana

650.0

In [90]:
rs_moda = rs.pontuacao_credito.mode()
rs_moda

0    850
dtype: int64

In [91]:
rs_std = rs.pontuacao_credito.describe()[2]
rs_std

95.13659841383574

# Resposta

In [92]:
resp = {"SC": {"moda": sc_moda[0], "mediana": sc_mediana, "media": sc_media, "desvio_padrao": sc_std}, "RS": {"moda": rs_moda[0], "mediana": rs_mediana, "media": rs_media, "desvio_padrao": rs_std}, "PR": {"moda": pr_moda[0], "mediana": pr_mediana, "media": pr_media, "desvio_padrao": pr_std}}

In [96]:
df_resp = pd.DataFrame(resp)
df_resp

                       SC          RS          PR
moda           850.000000  850.000000  850.000000
mediana        653.000000  650.000000  650.000000
media          649.537653  651.105143  648.961294
desvio_padrao   97.233493   95.136598   98.607186

In [97]:
df_resp.to_json('submission.json')